{{template "base" .}}
{{define "content"}}
  <h1>This is the about page.</h1>

  <p>This came from the template: {{ index .StringMap "test" }}</p>
  <p>Session has: {{ index .StringMap "remote_ip" }}</p>
{{end}}
